.flag {
	display: inline-block;
}
.flag18 { background: url(../images/sprites/flag18x12sprite.png) no-repeat top left; width: 18px; height: 12px;}
.flag45 { background: url(../images/sprites/flag45x30sprite.png) no-repeat top left; width: 45px; height: 30px;}
.flag90 { background: url(../images/sprites/flag90x60sprite.png) no-repeat top left; width: 90px; height: 60px;}
.flagathlete45 { background: url(../images/sprites/flag45x45sprite.png) no-repeat top left; width: 45px; height: 45px; border-radius: 50%;}

.flag18 .mask { width: 18px; height: 12px; position: relative; }
.flag45 .mask { width: 45px; height: 30px; position: relative; }
.flag90 .mask { width: 90px; height: 60px; position: relative; }
.flagathlete45 .mask { width: 45px; height: 45px; position: relative;}

.mask:after {
	content: "";
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.flagathlete45 .mask:after { border-radius:50%;}


@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	.flag18 { background: url(../images/sprites/flag18x12sprite@2x.png) no-repeat top left; background-size: 18px 3386px; }
	.flag45 { background: url(../images/sprites/flag45x30sprite@2x.png) no-repeat top left; background-size: 45px 7742px; }
	.flag90 { background: url(../images/sprites/flag90x60sprite@2x.png) no-repeat top left; background-size: 90px 15002px; }
	.flagathlete45 { background: url(../images/sprites/flag45x45sprite@2x.png) no-repeat top left; background-size: 45px 11372px; }
}

.flag18.afg{ background-position: 0 -14px;  } 
.flag18.aho{ background-position: 0 -28px;  } 
.flag18.ala{ background-position: 0 -42px;  } 
.flag18.alb{ background-position: 0 -56px;  } 
.flag18.alg{ background-position: 0 -70px;  } 
.flag18.and{ background-position: 0 -84px;  } 
.flag18.ang{ background-position: 0 -98px;  } 
.flag18.ant{ background-position: 0 -112px;  } 
.flag18.anz{ background-position: 0 -126px;  } 
.flag18.arg{ background-position: 0 -140px;  } 
.flag18.arm{ background-position: 0 -154px;  } 
.flag18.aru{ background-position: 0 -168px;  } 
.flag18.asa{ background-position: 0 -182px;  } 
.flag18.aus{ background-position: 0 -196px;  } 
.flag18.aut{ background-position: 0 -210px;  } 
.flag18.aze{ background-position: 0 -224px;  } 
.flag18.bah{ background-position: 0 -238px;  } 
.flag18.ban{ background-position: 0 -252px;  } 
.flag18.bar{ background-position: 0 -266px;  } 
.flag18.bdi{ background-position: 0 -280px;  } 
.flag18.bel{ background-position: 0 -294px;  } 
.flag18.ben, .flag18.dah{ background-position: 0 -308px;  } 
.flag18.ber{ background-position: 0 -322px;  } 
.flag18.bhu{ background-position: 0 -336px;  } 
.flag18.bih{ background-position: 0 -350px;  } 
.flag18.bir{ background-position: 0 -364px;  } 
.flag18.biz{ background-position: 0 -378px;  } 
.flag18.blr{ background-position: 0 -392px;  } 
.flag18.boh{ background-position: 0 -406px;  } 
.flag18.bol{ background-position: 0 -420px;  } 
.flag18.bot{ background-position: 0 -434px;  } 
.flag18.bra{ background-position: 0 -448px;  } 
.flag18.brn{ background-position: 0 -462px;  } 
.flag18.bru{ background-position: 0 -476px;  } 
.flag18.bul{ background-position: 0 -490px;  } 
.flag18.bur{ background-position: 0 -504px;  } 
.flag18.bwi{ background-position: 0 -518px;  } 
.flag18.can { background-position: 0 -532px;  }
.flag18.caf{ background-position: 0 -546px;  } 
.flag18.cam{ background-position: 0 -560px;  } 
.flag18.cay{ background-position: 0 -574px;  } 
.flag18.cdo{ background-position: 0 -588px;  } 
.flag18.cgo{ background-position: 0 -602px;  } 
.flag18.cha{ background-position: 0 -616px;  } 
.flag18.chi{ background-position: 0 -630px;  } 
.flag18.chn{ background-position: 0 -644px;  } 
.flag18.civ{ background-position: 0 -658px;  } 
.flag18.cmr{ background-position: 0 -672px;  } 
.flag18.cod{ background-position: 0 -686px;  } 
.flag18.cok{ background-position: 0 -700px;  } 
.flag18.col{ background-position: 0 -714px;  } 
.flag18.com{ background-position: 0 -728px;  } 
.flag18.cpv{ background-position: 0 -742px;  } 
.flag18.crc{ background-position: 0 -756px;  } 
.flag18.cro{ background-position: 0 -770px;  } 
.flag18.cub{ background-position: 0 -784px;  } 
.flag18.cyp{ background-position: 0 -798px;  } 
.flag18.cze{ background-position: 0 -812px;  } 
.flag18.den{ background-position: 0 -826px;  } 
.flag18.dji{ background-position: 0 -840px;  } 
.flag18.dma{ background-position: 0 -854px;  } 
.flag18.dom{ background-position: 0 -868px;  } 
.flag18.ecu{ background-position: 0 -882px;  } 
.flag18.egy{ background-position: 0 -896px;  } 
.flag18.eri{ background-position: 0 -910px;  } 
.flag18.esa{ background-position: 0 -924px;  } 
.flag18.esp{ background-position: 0 -938px;  } 
.flag18.est{ background-position: 0 -952px;  } 
.flag18.eth{ background-position: 0 -966px;  } 
.flag18.eua{ background-position: 0 -980px;  } 
.flag18.fij{ background-position: 0 -994px;  } 
.flag18.fin{ background-position: 0 -1008px;  } 
.flag18.fra, .flag18.wsf, .flag18.rnn, .flag18.nec, .flag18.pfe, .flag18.gde{ background-position: 0 -1022px;  } 
.flag18.fsm{ background-position: 0 -1036px;  } 
.flag18.gab{ background-position: 0 -1050px;  } 
.flag18.gam{ background-position: 0 -1064px;  } 
.flag18.gbr{ background-position: 0 -1078px;  } 
.flag18.gbs{ background-position: 0 -1092px;  } 
.flag18.gbt{ background-position: 0 -1106px;  } 
.flag18.gdr{ background-position: 0 -1120px;  } 
.flag18.geo{ background-position: 0 -1134px;  } 
.flag18.geq{ background-position: 0 -1148px;  } 
.flag18.ger, .flag18.frg{ background-position: 0 -1162px;  } 
.flag18.gha{ background-position: 0 -1176px;  } 
.flag18.gre{ background-position: 0 -1190px;  } 
.flag18.grn{ background-position: 0 -1204px;  } 
.flag18.gua{ background-position: 0 -1218px;  } 
.flag18.gub{ background-position: 0 -1232px;  } 
.flag18.gui{ background-position: 0 -1246px;  } 
.flag18.gum{ background-position: 0 -1260px;  } 
.flag18.guy{ background-position: 0 -1274px;  } 
.flag18.hai{ background-position: 0 -1288px;  } 
.flag18.hbr{ background-position: 0 -1302px;  } 
.flag18.hkg{ background-position: 0 -1316px;  } 
.flag18.hon{ background-position: 0 -1330px;  } 
.flag18.hun{ background-position: 0 -1344px;  } 
.flag18.ida{ background-position: 0 -1358px;  } 
.flag18.ifd{ background-position: 0 -1372px;  } 
.flag18.ina{ background-position: 0 -1386px;  } 
.flag18.ind{ background-position: 0 -1400px;  } 
.flag18.iri{ background-position: 0 -1414px;  } 
.flag18.irl{ background-position: 0 -1428px;  } 
.flag18.irq{ background-position: 0 -1442px;  } 
.flag18.isl{ background-position: 0 -1456px;  } 
.flag18.isr{ background-position: 0 -1470px;  } 
.flag18.isv{ background-position: 0 -1484px;  } 
.flag18.ita{ background-position: 0 -1498px;  } 
.flag18.ivb{ background-position: 0 -1512px;  } 
.flag18.jam{ background-position: 0 -1526px;  } 
.flag18.jor{ background-position: 0 -1540px;  } 
.flag18.jpn{ background-position: 0 -1554px;  } 
.flag18.kaz{ background-position: 0 -1568px;  } 
.flag18.ken{ background-position: 0 -1582px;  } 
.flag18.kgz{ background-position: 0 -1596px;  } 
.flag18.kir{ background-position: 0 -1610px;  } 
.flag18.kor{ background-position: 0 -1624px;  } 
.flag18.kos{ background-position: 0 -1638px;  } 
.flag18.ksa{ background-position: 0 -1652px;  } 
.flag18.kuw{ background-position: 0 -1666px;  } 
.flag18.lao{ background-position: 0 -1680px;  } 
.flag18.lat{ background-position: 0 -1694px;  } 
.flag18.lba{ background-position: 0 -1708px;  } 
.flag18.lbr{ background-position: 0 -1722px;  } 
.flag18.lca{ background-position: 0 -1736px;  } 
.flag18.les{ background-position: 0 -1750px;  } 
.flag18.lib{ background-position: 0 -1764px;  } 
.flag18.lie{ background-position: 0 -1778px;  } 
.flag18.ltu{ background-position: 0 -1792px;  } 
.flag18.lux{ background-position: 0 -1806px;  } 
.flag18.maa{ background-position: 0 -1820px;  } 
.flag18.mad{ background-position: 0 -1834px;  } 
.flag18.mar{ background-position: 0 -1848px;  } 
.flag18.mas, .flag18.mal{ background-position: 0 -1862px;  } 
.flag18.maw{ background-position: 0 -1876px;  } 
.flag18.mda{ background-position: 0 -1890px;  } 
.flag18.mdv{ background-position: 0 -1904px;  } 
.flag18.mex{ background-position: 0 -1918px;  } 
.flag18.mgl{ background-position: 0 -1932px;  } 
.flag18.mhl{ background-position: 0 -1946px;  } 
.flag18.mkd{ background-position: 0 -1960px;  } 
.flag18.mli{ background-position: 0 -1974px;  } 
.flag18.mlt{ background-position: 0 -1988px;  } 
.flag18.mne{ background-position: 0 -2002px;  } 
.flag18.mon{ background-position: 0 -2016px;  } 
.flag18.moz{ background-position: 0 -2030px;  } 
.flag18.mri{ background-position: 0 -2044px;  } 
.flag18.mtn{ background-position: 0 -2058px;  } 
.flag18.mtq, .flag18.maq{ background-position: 0 -2072px;  } 
.flag18.mya{ background-position: 0 -2086px;  } 
.flag18.nam{ background-position: 0 -2100px;  } 
.flag18.nbo{ background-position: 0 -2114px;  } 
.flag18.nca{ background-position: 0 -2128px;  } 
.flag18.ned{ background-position: 0 -2142px;  } 
.flag18.nep{ background-position: 0 -2156px;  } 
.flag18.ngr{ background-position: 0 -2170px;  } 
.flag18.nig{ background-position: 0 -2184px;  } 
.flag18.niu{ background-position: 0 -2198px;  } 
.flag18.nor{ background-position: 0 -2212px;  } 
.flag18.nrk{ background-position: 0 -2226px;  } 
.flag18.nru{ background-position: 0 -2240px;  } 
.flag18.nzl{ background-position: 0 -2254px;  } 
.flag18.oma{ background-position: 0 -2268px;  } 
.flag18.pak{ background-position: 0 -2282px;  } 
.flag18.pan{ background-position: 0 -2296px;  } 
.flag18.par{ background-position: 0 -2310px;  } 
.flag18.per{ background-position: 0 -2324px;  } 
.flag18.phi{ background-position: 0 -2338px;  } 
.flag18.ple{ background-position: 0 -2352px;  } 
.flag18.plw{ background-position: 0 -2366px;  } 
.flag18.png{ background-position: 0 -2380px;  } 
.flag18.pol{ background-position: 0 -2394px;  } 
.flag18.por{ background-position: 0 -2408px;  } 
.flag18.prk{ background-position: 0 -2422px;  } 
.flag18.prs{ background-position: 0 -2436px;  } 
.flag18.pur{ background-position: 0 -2450px;  } 
.flag18.qat{ background-position: 0 -2464px;  } 
.flag18.rho{ background-position: 0 -2478px;  } 
.flag18.rou{ background-position: 0 -2492px;  } 
.flag18.rsa{ background-position: 0 -2506px;  } 
.flag18.rus, .flag18.ru1{ background-position: 0 -2520px;  } 
.flag18.rwa{ background-position: 0 -2534px;  } 
.flag18.sam{ background-position: 0 -2548px;  } 
.flag18.sar{ background-position: 0 -2562px;  } 
.flag18.scg{ background-position: 0 -2576px;  } 
.flag18.sen{ background-position: 0 -2590px;  } 
.flag18.ser{ background-position: 0 -2604px;  } 
.flag18.sey{ background-position: 0 -2618px;  } 
.flag18.she{ background-position: 0 -2632px;  } 
.flag18.sin{ background-position: 0 -2646px;  } 
.flag18.skn{ background-position: 0 -2660px;  } 
.flag18.sle{ background-position: 0 -2674px;  } 
.flag18.slo{ background-position: 0 -2688px;  } 
.flag18.smr{ background-position: 0 -2702px;  } 
.flag18.sol{ background-position: 0 -2716px;  } 
.flag18.som{ background-position: 0 -2730px;  } 
.flag18.srb{ background-position: 0 -2744px;  } 
.flag18.sri{ background-position: 0 -2758px;  } 
.flag18.ssv{ background-position: 0 -2772px;  } 
.flag18.stp{ background-position: 0 -2786px;  } 
.flag18.sud{ background-position: 0 -2800px;  } 
.flag18.sui{ background-position: 0 -2814px;  } 
.flag18.sur{ background-position: 0 -2828px;  } 
.flag18.svk{ background-position: 0 -2842px;  } 
.flag18.swe{ background-position: 0 -2856px;  } 
.flag18.swz{ background-position: 0 -2870px;  } 
.flag18.syr{ background-position: 0 -2884px;  } 
.flag18.tan{ background-position: 0 -2898px;  } 
.flag18.tcc{ background-position: 0 -2912px;  } 
.flag18.tch{ background-position: 0 -2926px;  } 
.flag18.tga{ background-position: 0 -2940px;  } 
.flag18.tgk{ background-position: 0 -2954px;  } 
.flag18.tha{ background-position: 0 -2968px;  } 
.flag18.tjk{ background-position: 0 -2982px;  } 
.flag18.tkm{ background-position: 0 -2996px;  } 
.flag18.tls{ background-position: 0 -3010px;  } 
.flag18.tog{ background-position: 0 -3024px;  } 
.flag18.tpe{ background-position: 0 -3038px;  } 
.flag18.tto{ background-position: 0 -3052px;  } 
.flag18.tun{ background-position: 0 -3066px;  } 
.flag18.tur{ background-position: 0 -3080px;  } 
.flag18.tuv{ background-position: 0 -3094px;  } 
.flag18.uae{ background-position: 0 -3108px;  } 
.flag18.uar{ background-position: 0 -3122px;  } 
.flag18.uga{ background-position: 0 -3136px;  } 
.flag18.ukr{ background-position: 0 -3150px;  } 
.flag18.urs{ background-position: 0 -3164px;  } 
.flag18.uru{ background-position: 0 -3178px;  } 
.flag18.usa{ background-position: 0 -3192px;  } 
.flag18.uzb{ background-position: 0 -3206px;  } 
.flag18.van{ background-position: 0 -3220px;  } 
.flag18.ven{ background-position: 0 -3234px;  } 
.flag18.vie{ background-position: 0 -3248px;  } 
.flag18.vin{ background-position: 0 -3262px;  } 
.flag18.yem{ background-position: 0 -3276px;  } 
.flag18.ymd{ background-position: 0 -3290px;  } 
.flag18.yug{ background-position: 0 -3304px;  } 
.flag18.zai{ background-position: 0 -3318px;  } 
.flag18.zam, .flag18.rhn{ background-position: 0 -3332px;  } 
.flag18.zim{ background-position: 0 -3346px;  } 
.flag18.zzx, .flag18.iop, .flag18.eun, .flag18.zzz{ background-position: 0 -3360px;  }
.flag18.ssd{ background-position: 0 -3374px;  }

.flag45.afg{ background-position: 0 -32px;  } 
.flag45.aho{ background-position: 0 -64px;  } 
.flag45.ala{ background-position: 0 -96px;  } 
.flag45.alb{ background-position: 0 -128px;  } 
.flag45.alg{ background-position: 0 -160px;  } 
.flag45.and{ background-position: 0 -192px;  } 
.flag45.ang{ background-position: 0 -224px;  } 
.flag45.ant{ background-position: 0 -256px;  } 
.flag45.anz{ background-position: 0 -288px;  } 
.flag45.arg{ background-position: 0 -320px;  } 
.flag45.arm{ background-position: 0 -352px;  } 
.flag45.aru{ background-position: 0 -384px;  } 
.flag45.asa{ background-position: 0 -416px;  } 
.flag45.aus{ background-position: 0 -448px;  } 
.flag45.aut{ background-position: 0 -480px;  } 
.flag45.aze{ background-position: 0 -512px;  } 
.flag45.bah{ background-position: 0 -544px;  } 
.flag45.ban{ background-position: 0 -576px;  } 
.flag45.bar{ background-position: 0 -608px;  } 
.flag45.bdi{ background-position: 0 -640px;  } 
.flag45.bel{ background-position: 0 -672px;  } 
.flag45.ben, .flag45.dah{ background-position: 0 -704px;  } 
.flag45.ber{ background-position: 0 -736px;  } 
.flag45.bhu{ background-position: 0 -768px;  } 
.flag45.bih{ background-position: 0 -800px;  } 
.flag45.bir{ background-position: 0 -832px;  } 
.flag45.biz{ background-position: 0 -864px;  } 
.flag45.blr{ background-position: 0 -896px;  } 
.flag45.boh{ background-position: 0 -928px;  } 
.flag45.bol{ background-position: 0 -960px;  } 
.flag45.bot{ background-position: 0 -992px;  } 
.flag45.bra{ background-position: 0 -1024px;  } 
.flag45.brn{ background-position: 0 -1056px;  } 
.flag45.bru{ background-position: 0 -1088px;  } 
.flag45.bul{ background-position: 0 -1120px;  } 
.flag45.bur{ background-position: 0 -1152px;  } 
.flag45.bwi{ background-position: 0 -1184px;  } 
.flag45.can{ background-position: 0 -1216px;  }
.flag45.caf{ background-position: 0 -1248px;  } 
.flag45.cam{ background-position: 0 -1280px;  } 
.flag45.cay{ background-position: 0 -1312px;  } 
.flag45.cdo{ background-position: 0 -1344px;  } 
.flag45.cgo{ background-position: 0 -1376px;  } 
.flag45.cha{ background-position: 0 -1408px;  } 
.flag45.chi{ background-position: 0 -1440px;  } 
.flag45.chn{ background-position: 0 -1472px;  } 
.flag45.civ{ background-position: 0 -1504px;  } 
.flag45.cmr{ background-position: 0 -1536px;  } 
.flag45.cod{ background-position: 0 -1568px;  } 
.flag45.cok{ background-position: 0 -1600px;  } 
.flag45.col{ background-position: 0 -1632px;  } 
.flag45.com{ background-position: 0 -1664px;  } 
.flag45.cpv{ background-position: 0 -1696px;  } 
.flag45.crc{ background-position: 0 -1728px;  } 
.flag45.cro{ background-position: 0 -1760px;  } 
.flag45.cub{ background-position: 0 -1792px;  } 
.flag45.cyp{ background-position: 0 -1824px;  } 
.flag45.cze{ background-position: 0 -1856px;  } 
.flag45.den{ background-position: 0 -1888px;  } 
.flag45.dji{ background-position: 0 -1920px;  } 
.flag45.dma{ background-position: 0 -1952px;  } 
.flag45.dom{ background-position: 0 -1984px;  } 
.flag45.ecu{ background-position: 0 -2016px;  } 
.flag45.egy{ background-position: 0 -2048px;  } 
.flag45.eri{ background-position: 0 -2080px;  } 
.flag45.esa{ background-position: 0 -2112px;  } 
.flag45.esp{ background-position: 0 -2144px;  } 
.flag45.est{ background-position: 0 -2176px;  } 
.flag45.eth{ background-position: 0 -2208px;  } 
.flag45.eua{ background-position: 0 -2240px;  } 
.flag45.fij{ background-position: 0 -2272px;  } 
.flag45.fin{ background-position: 0 -2304px;  } 
.flag45.fra, .flag45.wsf, .flag45.rnn, .flag45.nec, .flag45.pfe, .flag45.gde{ background-position: 0 -2336px;  } 
.flag45.fsm{ background-position: 0 -2368px;  } 
.flag45.gab{ background-position: 0 -2400px;  } 
.flag45.gam{ background-position: 0 -2432px;  } 
.flag45.gbr{ background-position: 0 -2464px;  } 
.flag45.gbs{ background-position: 0 -2496px;  } 
.flag45.gbt{ background-position: 0 -2528px;  } 
.flag45.gdr{ background-position: 0 -2560px;  } 
.flag45.geo{ background-position: 0 -2592px;  } 
.flag45.geq{ background-position: 0 -2624px;  } 
.flag45.ger, .flag45.frg{ background-position: 0 -2656px;  } 
.flag45.gha{ background-position: 0 -2688px;  } 
.flag45.gre{ background-position: 0 -2720px;  } 
.flag45.grn{ background-position: 0 -2752px;  } 
.flag45.gua{ background-position: 0 -2784px;  } 
.flag45.gub{ background-position: 0 -2816px;  } 
.flag45.gui{ background-position: 0 -2848px;  } 
.flag45.gum{ background-position: 0 -2880px;  } 
.flag45.guy{ background-position: 0 -2912px;  } 
.flag45.hai{ background-position: 0 -2944px;  } 
.flag45.hbr{ background-position: 0 -2976px;  } 
.flag45.hkg{ background-position: 0 -3008px;  } 
.flag45.hon{ background-position: 0 -3040px;  } 
.flag45.hun{ background-position: 0 -3072px;  } 
.flag45.ida{ background-position: 0 -3104px;  } 
.flag45.ifd{ background-position: 0 -3136px;  } 
.flag45.ina{ background-position: 0 -3168px;  } 
.flag45.ind{ background-position: 0 -3200px;  } 
.flag45.iri{ background-position: 0 -3232px;  } 
.flag45.irl{ background-position: 0 -3264px;  } 
.flag45.irq{ background-position: 0 -3296px;  } 
.flag45.isl{ background-position: 0 -3328px;  } 
.flag45.isr{ background-position: 0 -3360px;  } 
.flag45.isv{ background-position: 0 -3392px;  } 
.flag45.ita{ background-position: 0 -3424px;  } 
.flag45.ivb{ background-position: 0 -3456px;  } 
.flag45.jam{ background-position: 0 -3488px;  } 
.flag45.jor{ background-position: 0 -3520px;  } 
.flag45.jpn{ background-position: 0 -3552px;  } 
.flag45.kaz{ background-position: 0 -3584px;  } 
.flag45.ken{ background-position: 0 -3616px;  } 
.flag45.kgz{ background-position: 0 -3648px;  } 
.flag45.kir{ background-position: 0 -3680px;  } 
.flag45.kor{ background-position: 0 -3712px;  } 
.flag45.kos{ background-position: 0 -3744px;  } 
.flag45.ksa{ background-position: 0 -3776px;  } 
.flag45.kuw{ background-position: 0 -3808px;  } 
.flag45.lao{ background-position: 0 -3840px;  } 
.flag45.lat{ background-position: 0 -3872px;  } 
.flag45.lba{ background-position: 0 -3904px;  } 
.flag45.lbr{ background-position: 0 -3936px;  } 
.flag45.lca{ background-position: 0 -3968px;  } 
.flag45.les{ background-position: 0 -4000px;  } 
.flag45.lib{ background-position: 0 -4032px;  } 
.flag45.lie{ background-position: 0 -4064px;  } 
.flag45.ltu{ background-position: 0 -4096px;  } 
.flag45.lux{ background-position: 0 -4128px;  } 
.flag45.maa{ background-position: 0 -4160px;  } 
.flag45.mad{ background-position: 0 -4192px;  } 
.flag45.mar{ background-position: 0 -4224px;  } 
.flag45.mas, .flag45.mal{ background-position: 0 -4256px;  } 
.flag45.maw{ background-position: 0 -4288px;  } 
.flag45.mda{ background-position: 0 -4320px;  } 
.flag45.mdv{ background-position: 0 -4352px;  } 
.flag45.mex{ background-position: 0 -4384px;  } 
.flag45.mgl{ background-position: 0 -4416px;  } 
.flag45.mhl{ background-position: 0 -4448px;  } 
.flag45.mkd{ background-position: 0 -4480px;  } 
.flag45.mli{ background-position: 0 -4512px;  } 
.flag45.mlt{ background-position: 0 -4544px;  } 
.flag45.mne{ background-position: 0 -4576px;  } 
.flag45.mon{ background-position: 0 -4608px;  } 
.flag45.moz{ background-position: 0 -4640px;  } 
.flag45.mri{ background-position: 0 -4672px;  } 
.flag45.mtn{ background-position: 0 -4704px;  } 
.flag45.mtq,.flag45.maq{ background-position: 0 -4736px;  } 
.flag45.mya{ background-position: 0 -4768px;  } 
.flag45.nam{ background-position: 0 -4800px;  } 
.flag45.nbo{ background-position: 0 -4832px;  } 
.flag45.nca{ background-position: 0 -4864px;  } 
.flag45.ned{ background-position: 0 -4896px;  } 
.flag45.nep{ background-position: 0 -4928px;  } 
.flag45.ngr{ background-position: 0 -4960px;  } 
.flag45.nig{ background-position: 0 -4992px;  } 
.flag45.niu{ background-position: 0 -5024px;  } 
.flag45.nor{ background-position: 0 -5056px;  } 
.flag45.nrk{ background-position: 0 -5088px;  } 
.flag45.nru{ background-position: 0 -5120px;  } 
.flag45.nzl{ background-position: 0 -5152px;  } 
.flag45.oma{ background-position: 0 -5184px;  } 
.flag45.pak{ background-position: 0 -5216px;  } 
.flag45.pan{ background-position: 0 -5248px;  } 
.flag45.par{ background-position: 0 -5280px;  } 
.flag45.per{ background-position: 0 -5312px;  } 
.flag45.phi{ background-position: 0 -5344px;  } 
.flag45.ple{ background-position: 0 -5376px;  } 
.flag45.plw{ background-position: 0 -5408px;  } 
.flag45.png{ background-position: 0 -5440px;  } 
.flag45.pol{ background-position: 0 -5472px;  } 
.flag45.por{ background-position: 0 -5504px;  } 
.flag45.prk{ background-position: 0 -5536px;  } 
.flag45.prs{ background-position: 0 -5568px;  } 
.flag45.pur{ background-position: 0 -5600px;  } 
.flag45.qat{ background-position: 0 -5632px;  } 
.flag45.rho{ background-position: 0 -5664px;  } 
.flag45.rou{ background-position: 0 -5696px;  } 
.flag45.rsa{ background-position: 0 -5728px;  } 
.flag45.rus, .flag45.ru1{ background-position: 0 -5760px;  } 
.flag45.rwa{ background-position: 0 -5792px;  } 
.flag45.sam{ background-position: 0 -5824px;  } 
.flag45.sar{ background-position: 0 -5856px;  } 
.flag45.scg{ background-position: 0 -5888px;  } 
.flag45.sen{ background-position: 0 -5920px;  } 
.flag45.ser{ background-position: 0 -5952px;  } 
.flag45.sey{ background-position: 0 -5984px;  } 
.flag45.she{ background-position: 0 -6016px;  } 
.flag45.sin{ background-position: 0 -6048px;  } 
.flag45.skn{ background-position: 0 -6080px;  } 
.flag45.sle{ background-position: 0 -6112px;  } 
.flag45.slo{ background-position: 0 -6144px;  } 
.flag45.smr{ background-position: 0 -6176px;  } 
.flag45.sol{ background-position: 0 -6208px;  } 
.flag45.som{ background-position: 0 -6240px;  } 
.flag45.srb{ background-position: 0 -6272px;  } 
.flag45.sri{ background-position: 0 -6304px;  } 
.flag45.ssv{ background-position: 0 -6336px;  } 
.flag45.stp{ background-position: 0 -6368px;  } 
.flag45.sud{ background-position: 0 -6400px;  } 
.flag45.sui{ background-position: 0 -6432px;  } 
.flag45.sur{ background-position: 0 -6464px;  } 
.flag45.svk{ background-position: 0 -6496px;  } 
.flag45.swe{ background-position: 0 -6528px;  } 
.flag45.swz{ background-position: 0 -6560px;  } 
.flag45.syr{ background-position: 0 -6592px;  } 
.flag45.tan{ background-position: 0 -6624px;  } 
.flag45.tcc{ background-position: 0 -6656px;  } 
.flag45.tch{ background-position: 0 -6688px;  } 
.flag45.tga{ background-position: 0 -6720px;  } 
.flag45.tgk{ background-position: 0 -6752px;  } 
.flag45.tha{ background-position: 0 -6784px;  } 
.flag45.tjk{ background-position: 0 -6816px;  } 
.flag45.tkm{ background-position: 0 -6848px;  } 
.flag45.tls{ background-position: 0 -6880px;  } 
.flag45.tog{ background-position: 0 -6912px;  } 
.flag45.tpe{ background-position: 0 -6944px;  } 
.flag45.tto{ background-position: 0 -6976px;  } 
.flag45.tun{ background-position: 0 -7008px;  } 
.flag45.tur{ background-position: 0 -7040px;  } 
.flag45.tuv{ background-position: 0 -7072px;  } 
.flag45.uae{ background-position: 0 -7104px;  } 
.flag45.uar{ background-position: 0 -7136px;  } 
.flag45.uga{ background-position: 0 -7168px;  } 
.flag45.ukr{ background-position: 0 -7200px;  } 
.flag45.urs{ background-position: 0 -7232px;  } 
.flag45.uru{ background-position: 0 -7264px;  } 
.flag45.usa{ background-position: 0 -7296px;  } 
.flag45.uzb{ background-position: 0 -7328px;  } 
.flag45.van{ background-position: 0 -7360px;  } 
.flag45.ven{ background-position: 0 -7392px;  } 
.flag45.vie{ background-position: 0 -7424px;  } 
.flag45.vin{ background-position: 0 -7456px;  } 
.flag45.yem{ background-position: 0 -7488px;  } 
.flag45.ymd{ background-position: 0 -7520px;  } 
.flag45.yug{ background-position: 0 -7552px;  } 
.flag45.zai{ background-position: 0 -7584px;  } 
.flag45.zam, .flag45.rhn{ background-position: 0 -7616px;  } 
.flag45.zim{ background-position: 0 -7648px;  } 
.flag45.zzx, .flag45.iop, .flag45.eun, .flag45.zzz{ background-position: 0 -7680px;  }
.flag45.ssd{ background-position: 0 -7712px;  }

.flag90.afg{ background-position: 0 -62px;  } 
.flag90.aho{ background-position: 0 -124px;  } 
.flag90.ala{ background-position: 0 -186px;  } 
.flag90.alb{ background-position: 0 -248px;  } 
.flag90.alg{ background-position: 0 -310px;  } 
.flag90.and{ background-position: 0 -372px;  } 
.flag90.ang{ background-position: 0 -434px;  } 
.flag90.ant{ background-position: 0 -496px;  } 
.flag90.anz{ background-position: 0 -558px;  } 
.flag90.arg{ background-position: 0 -620px;  } 
.flag90.arm{ background-position: 0 -682px;  } 
.flag90.aru{ background-position: 0 -744px;  } 
.flag90.asa{ background-position: 0 -806px;  } 
.flag90.aus{ background-position: 0 -868px;  } 
.flag90.aut{ background-position: 0 -930px;  } 
.flag90.aze{ background-position: 0 -992px;  } 
.flag90.bah{ background-position: 0 -1054px;  } 
.flag90.ban{ background-position: 0 -1116px;  } 
.flag90.bar{ background-position: 0 -1178px;  } 
.flag90.bdi{ background-position: 0 -1240px;  } 
.flag90.bel{ background-position: 0 -1302px;  } 
.flag90.ben, .flag90.dah{ background-position: 0 -1364px;  } 
.flag90.ber{ background-position: 0 -1426px;  } 
.flag90.bhu{ background-position: 0 -1488px;  } 
.flag90.bih{ background-position: 0 -1550px;  } 
.flag90.bir{ background-position: 0 -1612px;  } 
.flag90.biz{ background-position: 0 -1674px;  } 
.flag90.blr{ background-position: 0 -1736px;  } 
.flag90.boh{ background-position: 0 -1798px;  } 
.flag90.bol{ background-position: 0 -1860px;  } 
.flag90.bot{ background-position: 0 -1922px;  } 
.flag90.bra{ background-position: 0 -1984px;  } 
.flag90.brn{ background-position: 0 -2046px;  } 
.flag90.bru{ background-position: 0 -2108px;  } 
.flag90.bul{ background-position: 0 -2170px;  } 
.flag90.bur{ background-position: 0 -2232px;  } 
.flag90.bwi{ background-position: 0 -2294px;  } 
.flag90.can{ background-position: 0 -2356px;  }
.flag90.caf{ background-position: 0 -2418px;  } 
.flag90.cam{ background-position: 0 -2480px;  } 
.flag90.cay{ background-position: 0 -2542px;  } 
.flag90.cdo{ background-position: 0 -2604px;  } 
.flag90.cgo{ background-position: 0 -2666px;  } 
.flag90.cha{ background-position: 0 -2728px;  } 
.flag90.chi{ background-position: 0 -2790px;  } 
.flag90.chn{ background-position: 0 -2852px;  } 
.flag90.civ{ background-position: 0 -2914px;  } 
.flag90.cmr{ background-position: 0 -2976px;  } 
.flag90.cod{ background-position: 0 -3038px;  } 
.flag90.cok{ background-position: 0 -3100px;  } 
.flag90.col{ background-position: 0 -3162px;  } 
.flag90.com{ background-position: 0 -3224px;  } 
.flag90.cpv{ background-position: 0 -3286px;  } 
.flag90.crc{ background-position: 0 -3348px;  } 
.flag90.cro{ background-position: 0 -3410px;  } 
.flag90.cub{ background-position: 0 -3472px;  } 
.flag90.cyp{ background-position: 0 -3534px;  } 
.flag90.cze{ background-position: 0 -3596px;  } 
.flag90.den{ background-position: 0 -3658px;  } 
.flag90.dji{ background-position: 0 -3720px;  } 
.flag90.dma{ background-position: 0 -3782px;  } 
.flag90.dom{ background-position: 0 -3844px;  } 
.flag90.ecu{ background-position: 0 -3906px;  } 
.flag90.egy{ background-position: 0 -3968px;  } 
.flag90.eri{ background-position: 0 -4030px;  } 
.flag90.esa{ background-position: 0 -4092px;  } 
.flag90.esp{ background-position: 0 -4154px;  } 
.flag90.est{ background-position: 0 -4216px;  } 
.flag90.eth{ background-position: 0 -4278px;  } 
.flag90.eua{ background-position: 0 -4340px;  } 
.flag90.fij{ background-position: 0 -4402px;  } 
.flag90.fin{ background-position: 0 -4464px;  } 
.flag90.fra, .flag90.wsf, .flag90.rnn, .flag90.nec, .flag90.pfe, .flag90.gde{ background-position: 0 -4526px;  } 
.flag90.fsm{ background-position: 0 -4588px;  } 
.flag90.gab{ background-position: 0 -4650px;  } 
.flag90.gam{ background-position: 0 -4712px;  } 
.flag90.gbr{ background-position: 0 -4774px;  } 
.flag90.gbs{ background-position: 0 -4836px;  } 
.flag90.gbt{ background-position: 0 -4898px;  } 
.flag90.gdr{ background-position: 0 -4960px;  } 
.flag90.geo{ background-position: 0 -5022px;  } 
.flag90.geq{ background-position: 0 -5084px;  } 
.flag90.ger, .flag90.frg{ background-position: 0 -5146px;  } 
.flag90.gha{ background-position: 0 -5208px;  } 
.flag90.gre{ background-position: 0 -5270px;  } 
.flag90.grn{ background-position: 0 -5332px;  } 
.flag90.gua{ background-position: 0 -5394px;  } 
.flag90.gub{ background-position: 0 -5456px;  } 
.flag90.gui{ background-position: 0 -5518px;  } 
.flag90.gum{ background-position: 0 -5580px;  } 
.flag90.guy{ background-position: 0 -5642px;  } 
.flag90.hai{ background-position: 0 -5704px;  } 
.flag90.hbr{ background-position: 0 -5766px;  } 
.flag90.hkg{ background-position: 0 -5828px;  } 
.flag90.hon{ background-position: 0 -5890px;  } 
.flag90.hun{ background-position: 0 -5952px;  } 
.flag90.ida{ background-position: 0 -6014px;  } 
.flag90.ifd{ background-position: 0 -6076px;  } 
.flag90.ina{ background-position: 0 -6138px;  } 
.flag90.ind{ background-position: 0 -6200px;  } 
.flag90.iri{ background-position: 0 -6262px;  } 
.flag90.irl{ background-position: 0 -6324px;  } 
.flag90.irq{ background-position: 0 -6386px;  } 
.flag90.isl{ background-position: 0 -6448px;  } 
.flag90.isr{ background-position: 0 -6510px;  } 
.flag90.isv{ background-position: 0 -6572px;  } 
.flag90.ita{ background-position: 0 -6634px;  } 
.flag90.ivb{ background-position: 0 -6696px;  } 
.flag90.jam{ background-position: 0 -6758px;  } 
.flag90.jor{ background-position: 0 -6820px;  } 
.flag90.jpn{ background-position: 0 -6882px;  } 
.flag90.kaz{ background-position: 0 -6944px;  } 
.flag90.ken{ background-position: 0 -7006px;  } 
.flag90.kgz{ background-position: 0 -7068px;  } 
.flag90.kir{ background-position: 0 -7130px;  } 
.flag90.kor{ background-position: 0 -7192px;  } 
.flag90.kos{ background-position: 0 -7254px;  } 
.flag90.ksa{ background-position: 0 -7316px;  } 
.flag90.kuw{ background-position: 0 -7378px;  } 
.flag90.lao{ background-position: 0 -7440px;  } 
.flag90.lat{ background-position: 0 -7502px;  } 
.flag90.lba{ background-position: 0 -7564px;  } 
.flag90.lbr{ background-position: 0 -7626px;  } 
.flag90.lca{ background-position: 0 -7688px;  } 
.flag90.les{ background-position: 0 -7750px;  } 
.flag90.lib{ background-position: 0 -7812px;  } 
.flag90.lie{ background-position: 0 -7874px;  } 
.flag90.ltu{ background-position: 0 -7936px;  } 
.flag90.lux{ background-position: 0 -7998px;  } 
.flag90.maa{ background-position: 0 -8060px;  } 
.flag90.mad{ background-position: 0 -8122px;  } 
.flag90.mar{ background-position: 0 -8184px;  } 
.flag90.mas, .flag90.mal{ background-position: 0 -8246px;  } 
.flag90.maw{ background-position: 0 -8308px;  } 
.flag90.mda{ background-position: 0 -8370px;  } 
.flag90.mdv{ background-position: 0 -8432px;  } 
.flag90.mex{ background-position: 0 -8494px;  } 
.flag90.mgl{ background-position: 0 -8556px;  } 
.flag90.mhl{ background-position: 0 -8618px;  } 
.flag90.mkd{ background-position: 0 -8680px;  } 
.flag90.mli{ background-position: 0 -8742px;  } 
.flag90.mlt{ background-position: 0 -8804px;  } 
.flag90.mne{ background-position: 0 -8866px;  } 
.flag90.mon{ background-position: 0 -8928px;  } 
.flag90.moz{ background-position: 0 -8990px;  } 
.flag90.mri{ background-position: 0 -9052px;  } 
.flag90.mtn{ background-position: 0 -9114px;  } 
.flag90.mtq, .flag90.maq{ background-position: 0 -9176px;  } 
.flag90.mya{ background-position: 0 -9238px;  } 
.flag90.nam{ background-position: 0 -9300px;  } 
.flag90.nbo{ background-position: 0 -9362px;  } 
.flag90.nca{ background-position: 0 -9424px;  } 
.flag90.ned{ background-position: 0 -9486px;  } 
.flag90.nep{ background-position: 0 -9548px;  } 
.flag90.ngr{ background-position: 0 -9610px;  } 
.flag90.nig{ background-position: 0 -9672px;  } 
.flag90.niu{ background-position: 0 -9734px;  } 
.flag90.nor{ background-position: 0 -9796px;  } 
.flag90.nrk{ background-position: 0 -9858px;  } 
.flag90.nru{ background-position: 0 -9920px;  } 
.flag90.nzl{ background-position: 0 -9982px;  } 
.flag90.oma{ background-position: 0 -10044px;  } 
.flag90.pak{ background-position: 0 -10106px;  } 
.flag90.pan{ background-position: 0 -10168px;  } 
.flag90.par{ background-position: 0 -10230px;  } 
.flag90.per{ background-position: 0 -10292px;  } 
.flag90.phi{ background-position: 0 -10354px;  } 
.flag90.ple{ background-position: 0 -10416px;  } 
.flag90.plw{ background-position: 0 -10478px;  } 
.flag90.png{ background-position: 0 -10540px;  } 
.flag90.pol{ background-position: 0 -10602px;  } 
.flag90.por{ background-position: 0 -10664px;  } 
.flag90.prk{ background-position: 0 -10726px;  } 
.flag90.prs{ background-position: 0 -10788px;  } 
.flag90.pur{ background-position: 0 -10850px;  } 
.flag90.qat{ background-position: 0 -10912px;  } 
.flag90.rho{ background-position: 0 -10974px;  } 
.flag90.rou{ background-position: 0 -11036px;  } 
.flag90.rsa{ background-position: 0 -11098px;  } 
.flag90.rus, .flag90.ru1{ background-position: 0 -11160px;  } 
.flag90.rwa{ background-position: 0 -11222px;  } 
.flag90.sam{ background-position: 0 -11284px;  } 
.flag90.sar{ background-position: 0 -11346px;  } 
.flag90.scg{ background-position: 0 -11408px;  } 
.flag90.sen{ background-position: 0 -11470px;  } 
.flag90.ser{ background-position: 0 -11532px;  } 
.flag90.sey{ background-position: 0 -11594px;  } 
.flag90.she{ background-position: 0 -11656px;  } 
.flag90.sin{ background-position: 0 -11718px;  } 
.flag90.skn{ background-position: 0 -11780px;  } 
.flag90.sle{ background-position: 0 -11842px;  } 
.flag90.slo{ background-position: 0 -11904px;  } 
.flag90.smr{ background-position: 0 -11966px;  } 
.flag90.sol{ background-position: 0 -12028px;  } 
.flag90.som{ background-position: 0 -12090px;  } 
.flag90.srb{ background-position: 0 -12152px;  } 
.flag90.sri{ background-position: 0 -12214px;  } 
.flag90.ssv{ background-position: 0 -12276px;  } 
.flag90.stp{ background-position: 0 -12338px;  } 
.flag90.sud{ background-position: 0 -12400px;  } 
.flag90.sui{ background-position: 0 -12462px;  } 
.flag90.sur{ background-position: 0 -12524px;  } 
.flag90.svk{ background-position: 0 -12586px;  } 
.flag90.swe{ background-position: 0 -12648px;  } 
.flag90.swz{ background-position: 0 -12710px;  } 
.flag90.syr{ background-position: 0 -12772px;  } 
.flag90.tan{ background-position: 0 -12834px;  } 
.flag90.tcc{ background-position: 0 -12896px;  } 
.flag90.tch{ background-position: 0 -12958px;  } 
.flag90.tga{ background-position: 0 -13020px;  } 
.flag90.tgk{ background-position: 0 -13082px;  } 
.flag90.tha{ background-position: 0 -13144px;  } 
.flag90.tjk{ background-position: 0 -13206px;  } 
.flag90.tkm{ background-position: 0 -13268px;  } 
.flag90.tls{ background-position: 0 -13330px;  } 
.flag90.tog{ background-position: 0 -13392px;  } 
.flag90.tpe{ background-position: 0 -13454px;  } 
.flag90.tto{ background-position: 0 -13516px;  } 
.flag90.tun{ background-position: 0 -13578px;  } 
.flag90.tur{ background-position: 0 -13640px;  } 
.flag90.tuv{ background-position: 0 -13702px;  } 
.flag90.uae{ background-position: 0 -13764px;  } 
.flag90.uar{ background-position: 0 -13826px;  } 
.flag90.uga{ background-position: 0 -13888px;  } 
.flag90.ukr{ background-position: 0 -13950px;  } 
.flag90.urs{ background-position: 0 -14012px;  } 
.flag90.uru{ background-position: 0 -14074px;  } 
.flag90.usa{ background-position: 0 -14136px;  } 
.flag90.uzb{ background-position: 0 -14198px;  } 
.flag90.van{ background-position: 0 -14260px;  } 
.flag90.ven{ background-position: 0 -14322px;  } 
.flag90.vie{ background-position: 0 -14384px;  } 
.flag90.vin{ background-position: 0 -14446px;  } 
.flag90.yem{ background-position: 0 -14508px;  } 
.flag90.ymd{ background-position: 0 -14570px;  } 
.flag90.yug{ background-position: 0 -14632px;  } 
.flag90.zai{ background-position: 0 -14694px;  } 
.flag90.zam, .flag90.rhn{ background-position: 0 -14756px;  } 
.flag90.zim{ background-position: 0 -14818px;  } 
.flag90.zzx, .flag90.iop, .flag90.eun, .flag90.zzz{ background-position: 0 -14880px;  }
.flag90.ssd{ background-position: 0 -14942px;  }

.flagathlete45.afg{ background-position: 0 -47px;  } 
.flagathlete45.aho{ background-position: 0 -94px;  } 
.flagathlete45.ala{ background-position: 0 -141px;  } 
.flagathlete45.alb{ background-position: 0 -188px;  } 
.flagathlete45.alg{ background-position: 0 -235px;  } 
.flagathlete45.and{ background-position: 0 -282px;  } 
.flagathlete45.ang{ background-position: 0 -329px;  } 
.flagathlete45.ant{ background-position: 0 -376px;  } 
.flagathlete45.anz{ background-position: 0 -423px;  } 
.flagathlete45.arg{ background-position: 0 -470px;  } 
.flagathlete45.arm{ background-position: 0 -517px;  } 
.flagathlete45.aru{ background-position: 0 -564px;  } 
.flagathlete45.asa{ background-position: 0 -611px;  } 
.flagathlete45.aus{ background-position: 0 -658px;  } 
.flagathlete45.aut{ background-position: 0 -705px;  } 
.flagathlete45.aze{ background-position: 0 -752px;  } 
.flagathlete45.bah{ background-position: 0 -799px;  } 
.flagathlete45.ban{ background-position: 0 -846px;  } 
.flagathlete45.bar{ background-position: 0 -893px;  } 
.flagathlete45.bdi{ background-position: 0 -940px;  } 
.flagathlete45.bel{ background-position: 0 -987px;  } 
.flagathlete45.ben, .flagathlete45.dah{ background-position: 0 -1034px;  } 
.flagathlete45.ber{ background-position: 0 -1081px;  } 
.flagathlete45.bhu{ background-position: 0 -1128px;  } 
.flagathlete45.bih{ background-position: 0 -1175px;  } 
.flagathlete45.bir{ background-position: 0 -1222px;  } 
.flagathlete45.biz{ background-position: 0 -1269px;  } 
.flagathlete45.blr{ background-position: 0 -1316px;  } 
.flagathlete45.boh{ background-position: 0 -1363px;  } 
.flagathlete45.bol{ background-position: 0 -1410px;  } 
.flagathlete45.bot{ background-position: 0 -1457px;  } 
.flagathlete45.bra{ background-position: 0 -1504px;  } 
.flagathlete45.brn{ background-position: 0 -1551px;  } 
.flagathlete45.bru{ background-position: 0 -1598px;  } 
.flagathlete45.bul{ background-position: 0 -1645px;  } 
.flagathlete45.bur{ background-position: 0 -1692px;  } 
.flagathlete45.bwi{ background-position: 0 -1739px;  } 
.flagathlete45.can{ background-position: 0 -1786px;  }
.flagathlete45.caf{ background-position: 0 -1833px;  } 
.flagathlete45.cam{ background-position: 0 -1880px;  } 
.flagathlete45.cay{ background-position: 0 -1927px;  } 
.flagathlete45.cdo{ background-position: 0 -1974px;  } 
.flagathlete45.cgo{ background-position: 0 -2021px;  } 
.flagathlete45.cha{ background-position: 0 -2068px;  } 
.flagathlete45.chi{ background-position: 0 -2115px;  } 
.flagathlete45.chn{ background-position: 0 -2162px;  } 
.flagathlete45.civ{ background-position: 0 -2209px;  } 
.flagathlete45.cmr{ background-position: 0 -2256px;  } 
.flagathlete45.cod{ background-position: 0 -2303px;  } 
.flagathlete45.cok{ background-position: 0 -2350px;  } 
.flagathlete45.col{ background-position: 0 -2397px;  } 
.flagathlete45.com{ background-position: 0 -2444px;  } 
.flagathlete45.cpv{ background-position: 0 -2491px;  } 
.flagathlete45.crc{ background-position: 0 -2538px;  } 
.flagathlete45.cro{ background-position: 0 -2585px;  } 
.flagathlete45.cub{ background-position: 0 -2632px;  } 
.flagathlete45.cyp{ background-position: 0 -2679px;  } 
.flagathlete45.cze{ background-position: 0 -2726px;  } 
.flagathlete45.den{ background-position: 0 -2773px;  } 
.flagathlete45.dji{ background-position: 0 -2820px;  } 
.flagathlete45.dma{ background-position: 0 -2867px;  } 
.flagathlete45.dom{ background-position: 0 -2914px;  } 
.flagathlete45.ecu{ background-position: 0 -2961px;  } 
.flagathlete45.egy{ background-position: 0 -3008px;  } 
.flagathlete45.eri{ background-position: 0 -3055px;  } 
.flagathlete45.esa{ background-position: 0 -3102px;  } 
.flagathlete45.esp{ background-position: 0 -3149px;  } 
.flagathlete45.est{ background-position: 0 -3196px;  } 
.flagathlete45.eth{ background-position: 0 -3243px;  } 
.flagathlete45.eua{ background-position: 0 -3290px;  } 
.flagathlete45.fij{ background-position: 0 -3337px;  } 
.flagathlete45.fin{ background-position: 0 -3384px;  } 
.flagathlete45.fra, .flagathlete45.wsf, .flagathlete45.rnn, .flagathlete45.nec, .flagathlete45.pfe, .flagathlete45.gde{ background-position: 0 -3431px;  } 
.flagathlete45.fsm{ background-position: 0 -3478px;  } 
.flagathlete45.gab{ background-position: 0 -3525px;  } 
.flagathlete45.gam{ background-position: 0 -3572px;  } 
.flagathlete45.gbr{ background-position: 0 -3619px;  } 
.flagathlete45.gbs{ background-position: 0 -3666px;  } 
.flagathlete45.gbt{ background-position: 0 -3713px;  } 
.flagathlete45.gdr{ background-position: 0 -3760px;  } 
.flagathlete45.geo{ background-position: 0 -3807px;  } 
.flagathlete45.geq{ background-position: 0 -3854px;  } 
.flagathlete45.ger, .flagathlete45.frg{ background-position: 0 -3901px;  } 
.flagathlete45.gha{ background-position: 0 -3948px;  } 
.flagathlete45.gre{ background-position: 0 -3995px;  } 
.flagathlete45.grn{ background-position: 0 -4042px;  } 
.flagathlete45.gua{ background-position: 0 -4089px;  } 
.flagathlete45.gub{ background-position: 0 -4136px;  } 
.flagathlete45.gui{ background-position: 0 -4183px;  } 
.flagathlete45.gum{ background-position: 0 -4230px;  } 
.flagathlete45.guy{ background-position: 0 -4277px;  } 
.flagathlete45.hai{ background-position: 0 -4324px;  } 
.flagathlete45.hbr{ background-position: 0 -4371px;  } 
.flagathlete45.hkg{ background-position: 0 -4418px;  } 
.flagathlete45.hon{ background-position: 0 -4465px;  } 
.flagathlete45.hun{ background-position: 0 -4512px;  } 
.flagathlete45.ida{ background-position: 0 -4559px;  } 
.flagathlete45.ifd{ background-position: 0 -4606px;  } 
.flagathlete45.ina{ background-position: 0 -4653px;  } 
.flagathlete45.ind{ background-position: 0 -4700px;  } 
.flagathlete45.iri{ background-position: 0 -4747px;  } 
.flagathlete45.irl{ background-position: 0 -4794px;  } 
.flagathlete45.irq{ background-position: 0 -4841px;  } 
.flagathlete45.isl{ background-position: 0 -4888px;  } 
.flagathlete45.isr{ background-position: 0 -4935px;  } 
.flagathlete45.isv{ background-position: 0 -4982px;  } 
.flagathlete45.ita{ background-position: 0 -5029px;  } 
.flagathlete45.ivb{ background-position: 0 -5076px;  } 
.flagathlete45.jam{ background-position: 0 -5123px;  } 
.flagathlete45.jor{ background-position: 0 -5170px;  } 
.flagathlete45.jpn{ background-position: 0 -5217px;  } 
.flagathlete45.kaz{ background-position: 0 -5264px;  } 
.flagathlete45.ken{ background-position: 0 -5311px;  } 
.flagathlete45.kgz{ background-position: 0 -5358px;  } 
.flagathlete45.kir{ background-position: 0 -5405px;  } 
.flagathlete45.kor{ background-position: 0 -5452px;  } 
.flagathlete45.kos{ background-position: 0 -5499px;  } 
.flagathlete45.ksa{ background-position: 0 -5546px;  } 
.flagathlete45.kuw{ background-position: 0 -5593px;  } 
.flagathlete45.lao{ background-position: 0 -5640px;  } 
.flagathlete45.lat{ background-position: 0 -5687px;  } 
.flagathlete45.lba{ background-position: 0 -5734px;  } 
.flagathlete45.lbr{ background-position: 0 -5781px;  } 
.flagathlete45.lca{ background-position: 0 -5828px;  } 
.flagathlete45.les{ background-position: 0 -5875px;  } 
.flagathlete45.lib{ background-position: 0 -5922px;  } 
.flagathlete45.lie{ background-position: 0 -5969px;  } 
.flagathlete45.ltu{ background-position: 0 -6016px;  } 
.flagathlete45.lux{ background-position: 0 -6063px;  } 
.flagathlete45.maa{ background-position: 0 -6110px;  } 
.flagathlete45.mad{ background-position: 0 -6157px;  } 
.flagathlete45.mar{ background-position: 0 -6204px;  } 
.flagathlete45.mas, .flagathlete45.mal{ background-position: 0 -6251px;  } 
.flagathlete45.maw{ background-position: 0 -6298px;  } 
.flagathlete45.mda{ background-position: 0 -6345px;  } 
.flagathlete45.mdv{ background-position: 0 -6392px;  } 
.flagathlete45.mex{ background-position: 0 -6439px;  } 
.flagathlete45.mgl{ background-position: 0 -6486px;  } 
.flagathlete45.mhl{ background-position: 0 -6533px;  } 
.flagathlete45.mkd{ background-position: 0 -6580px;  } 
.flagathlete45.mli{ background-position: 0 -6627px;  } 
.flagathlete45.mlt{ background-position: 0 -6674px;  } 
.flagathlete45.mne{ background-position: 0 -6721px;  } 
.flagathlete45.mon{ background-position: 0 -6768px;  } 
.flagathlete45.moz{ background-position: 0 -6815px;  } 
.flagathlete45.mri{ background-position: 0 -6862px;  } 
.flagathlete45.mtn{ background-position: 0 -6909px;  } 
.flagathlete45.mtq, .flagathlete45.maq{ background-position: 0 -6956px;  } 
.flagathlete45.mya{ background-position: 0 -7003px;  } 
.flagathlete45.nam{ background-position: 0 -7050px;  } 
.flagathlete45.nbo{ background-position: 0 -7097px;  } 
.flagathlete45.nca{ background-position: 0 -7144px;  } 
.flagathlete45.ned{ background-position: 0 -7191px;  } 
.flagathlete45.nep{ background-position: 0 -7238px;  } 
.flagathlete45.ngr{ background-position: 0 -7285px;  } 
.flagathlete45.nig{ background-position: 0 -7332px;  } 
.flagathlete45.niu{ background-position: 0 -7379px;  } 
.flagathlete45.nor{ background-position: 0 -7426px;  } 
.flagathlete45.nrk{ background-position: 0 -7473px;  } 
.flagathlete45.nru{ background-position: 0 -7520px;  } 
.flagathlete45.nzl{ background-position: 0 -7567px;  } 
.flagathlete45.oma{ background-position: 0 -7614px;  } 
.flagathlete45.pak{ background-position: 0 -7661px;  } 
.flagathlete45.pan{ background-position: 0 -7708px;  } 
.flagathlete45.par{ background-position: 0 -7755px;  } 
.flagathlete45.per{ background-position: 0 -7802px;  } 
.flagathlete45.phi{ background-position: 0 -7849px;  } 
.flagathlete45.ple{ background-position: 0 -7896px;  } 
.flagathlete45.plw{ background-position: 0 -7943px;  } 
.flagathlete45.png{ background-position: 0 -7990px;  } 
.flagathlete45.pol{ background-position: 0 -8037px;  } 
.flagathlete45.por{ background-position: 0 -8084px;  } 
.flagathlete45.prk{ background-position: 0 -8131px;  } 
.flagathlete45.prs{ background-position: 0 -8178px;  } 
.flagathlete45.pur{ background-position: 0 -8225px;  } 
.flagathlete45.qat{ background-position: 0 -8272px;  } 
.flagathlete45.rho{ background-position: 0 -8319px;  } 
.flagathlete45.rou{ background-position: 0 -8366px;  } 
.flagathlete45.rsa{ background-position: 0 -8413px;  } 
.flagathlete45.rus, .flagathlete45.ru1{ background-position: 0 -8460px;  } 
.flagathlete45.rwa{ background-position: 0 -8507px;  } 
.flagathlete45.sam{ background-position: 0 -8554px;  } 
.flagathlete45.sar{ background-position: 0 -8601px;  } 
.flagathlete45.scg{ background-position: 0 -8648px;  } 
.flagathlete45.sen{ background-position: 0 -8695px;  } 
.flagathlete45.ser{ background-position: 0 -8742px;  } 
.flagathlete45.sey{ background-position: 0 -8789px;  } 
.flagathlete45.she{ background-position: 0 -8836px;  } 
.flagathlete45.sin{ background-position: 0 -8883px;  } 
.flagathlete45.skn{ background-position: 0 -8930px;  } 
.flagathlete45.sle{ background-position: 0 -8977px;  } 
.flagathlete45.slo{ background-position: 0 -9024px;  } 
.flagathlete45.smr{ background-position: 0 -9071px;  } 
.flagathlete45.sol{ background-position: 0 -9118px;  } 
.flagathlete45.som{ background-position: 0 -9165px;  } 
.flagathlete45.srb{ background-position: 0 -9212px;  } 
.flagathlete45.sri{ background-position: 0 -9259px;  } 
.flagathlete45.ssv{ background-position: 0 -9306px;  } 
.flagathlete45.stp{ background-position: 0 -9353px;  } 
.flagathlete45.sud{ background-position: 0 -9400px;  } 
.flagathlete45.sui{ background-position: 0 -9447px;  } 
.flagathlete45.sur{ background-position: 0 -9494px;  } 
.flagathlete45.svk{ background-position: 0 -9541px;  } 
.flagathlete45.swe{ background-position: 0 -9588px;  } 
.flagathlete45.swz{ background-position: 0 -9635px;  } 
.flagathlete45.syr{ background-position: 0 -9682px;  } 
.flagathlete45.tan{ background-position: 0 -9729px;  } 
.flagathlete45.tcc{ background-position: 0 -9776px;  } 
.flagathlete45.tch{ background-position: 0 -9823px;  } 
.flagathlete45.tga{ background-position: 0 -9870px;  } 
.flagathlete45.tgk{ background-position: 0 -9917px;  } 
.flagathlete45.tha{ background-position: 0 -9964px;  } 
.flagathlete45.tjk{ background-position: 0 -10011px;  } 
.flagathlete45.tkm{ background-position: 0 -10058px;  } 
.flagathlete45.tls{ background-position: 0 -10105px;  } 
.flagathlete45.tog{ background-position: 0 -10152px;  } 
.flagathlete45.tpe{ background-position: 0 -10199px;  } 
.flagathlete45.tto{ background-position: 0 -10246px;  } 
.flagathlete45.tun{ background-position: 0 -10293px;  } 
.flagathlete45.tur{ background-position: 0 -10340px;  } 
.flagathlete45.tuv{ background-position: 0 -10387px;  } 
.flagathlete45.uae{ background-position: 0 -10434px;  } 
.flagathlete45.uar{ background-position: 0 -10481px;  } 
.flagathlete45.uga{ background-position: 0 -10528px;  } 
.flagathlete45.ukr{ background-position: 0 -10575px;  } 
.flagathlete45.urs{ background-position: 0 -10622px;  } 
.flagathlete45.uru{ background-position: 0 -10669px;  } 
.flagathlete45.usa{ background-position: 0 -10716px;  } 
.flagathlete45.uzb{ background-position: 0 -10763px;  } 
.flagathlete45.van{ background-position: 0 -10810px;  } 
.flagathlete45.ven{ background-position: 0 -10857px;  } 
.flagathlete45.vie{ background-position: 0 -10904px;  } 
.flagathlete45.vin{ background-position: 0 -10951px;  } 
.flagathlete45.yem{ background-position: 0 -10998px;  } 
.flagathlete45.ymd{ background-position: 0 -11045px;  } 
.flagathlete45.yug{ background-position: 0 -11092px;  } 
.flagathlete45.zai{ background-position: 0 -11139px;  } 
.flagathlete45.zam, .flagathlete45.rhn{ background-position: 0 -11186px;  } 
.flagathlete45.zim{ background-position: 0 -11233px;  } 
.flagathlete45.zzx, .flagathlete45.iop, .flagathlete45.eun, .flagathlete45.zzz{ background-position: 0 -11280px;  }
.flagathlete45.ssd{ background-position: 0 -11327px;  }

.flag18.col {
  display: block !important;
  width: 18px !important;
  padding: 0 !important;
  min-height: inherit !important;
}