html {
-ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
}
body,
div,
p {
	margin: 0;
	padding: 0;
}
ul {
    list-style: none;
}
body {
	width: 100%;
    *cursor: default;
	overflow: hidden;
	font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
    background: #EEEFEF;
}

.hide {
    /*opacity: 0!important;*/
    display: none !important;
}

#pageContain {
	overflow: hidden;
    display: none;
}
.page, .fixed_block {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.contain {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
    overflow: hidden;
    opacity: 1;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}
.contain img {
    display: block;
}
.contain .content {
	width: 100%;
    height: 100%;
	margin: 0 auto;
}

.current .contain, .slide .contain {
	display: block;
}
.current {
	display: block;
	z-index: 1;
}
.slide {
	display: block;
	z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}

.score_counter {
    width: 198px;
    height: 101px;
    position: absolute;
    left: 0;
    bottom: 2%;
    background: url(../img/score_counter.png) no-repeat center center;
    background-size: 198px;
    color: #FC8653;
    z-index: 99;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -webkit-transform: translate(-100%, 0);
}

.score_counter.showing {
    -webkit-transform: translate(0, 0);
}

.score_counter p {
    position: absolute;
  top: 34px;
  left: 30%;
  width: 68px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.page_question {
    background: #EEEFEF;
}
.page_question .title {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #3F3A39;
    color: white;
    display: none;
}

.page_question .question_no {
    width: 175px;
    margin: 4% auto;
    /*padding-right: 20px;*/
}

.page_question .question {
    color: #1A8EA6;
    padding: 0px 8%;
    margin-bottom: 4%;
    /*margin-right: 20px;*/
    font-size: 14px;
}

.page_question .answer {
    margin: 0;
    padding: 0;
    /*padding-right: 20px;*/
}

.page_question .answer li {
    margin: 0 auto 4%;
    color: white;
    background: #64C4D0;
    padding: 10px 15px;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 2px 0px #416D7F;
    font-size: 14px;
}

.page_question .guide {
    position: absolute;
    width: 150px;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    color: white;
    right: 0;
    top: 0;
    padding: 0 20px;
    right: -190px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}

.page_question .show.guide {
    right: 0;
}

.page_question .guide p {
    position: absolute;
    top : 30%;
}

.page_question .guide_btn {
    width: 58px;
    height: 68px;
    background: url(../img/guide_btn.png) no-repeat center center;
    background-size: 58px;
    position: absolute;
    bottom: 4%;
    left: -58px;
}

@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    /*iphone 6*/
    .page_question .question {
        margin-bottom: 5%;
        font-size: 18px;
    }

    .page_question .answer li {
        font-size: 16px;
    }

    .page_question .guide_btn {
        bottom: 4%;
    }
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    /*iphone 6 plus*/
    .page_question .question {
        margin-bottom: 5%;
        font-size: 18px;
    }

    .page_question .answer li {
        font-size: 16px;
    }

    .page_question .guide_btn {
        bottom: 6%;
    }
}

/*.page_start .content {
    position: absolute;
    left: 50%;
    margin-left: -50%;
    height: 100%;
}*/

.page_response {
    display: none;
    z-index: 100;
    background: rgba(0, 0, 0, .5);
}

.page_response .content {
    width: 90%;
    text-align: center;
    margin: 40% auto 0;
    position: relative;
}

.page_response .content img {
    width: 100%;
}

.page_response .text_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page_response .content .hint {
    padding: 0 12%;
    color: #898989;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
    margin-top: -7%;
}

.page_response .text_wrap:before {
    content: "";
    height: 100%;
    vertical-align: middle;
    visibility: hidden;
    display: inline-block;
}

.page_response .return_btn,
.page_response .next_btn,
.page_response .finish_btn {
    width: 40%;
    top: 64%;
    left: 27%;
    padding: 10px;
    position: absolute;
    color: #64C4D0;
    font-size: 16px;
    font-weight: bold;
}

.page_response .return_btn,
.page_response .finish_btn  {
    display: none;
}

.page_response.negative .next_btn,
.page_response.finished .next_btn {
    display: none;
}

.page_response.negative .return_btn {
    display: block;
}

.page_response.finished .finish_btn {
    display: block;
}

.page_response .content .score_icon {
    position: absolute;
    height: 35px;
    width: auto;
    top: 34%;
    left: 50%;
    margin-left: -75px;
    display: none;
}

.page_response .content .score_50 {
    margin-left: -62px;
}
.page_response .content .score_0 {
    margin-left: -52px;
}
.page_response .content .showing {
    display: block;
}

.page_result .replay_btn {
    position: absolute;
    width: 30%;
    height: 13%;
    top: 58%;
    left: 35%;
    /*border: 1px solid #ccc;*/
}
.page_result .score {
    color: #ccc;
    position: absolute;
    width: 30%;
    top: 24.5%;
    left: 36%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.page_result a {
    position: absolute;
    width: 30%;
    height: 10%;
    bottom: 10%;
    left: 13%;
    /*border: 1px solid #ccc;*/
}
.page_result .link2 {
    left: 56%;
}
.page_result .content {
    display: none;
}
.page_result.low_score .result_low {
    display: block;
}
.page_result.middle_score .result_middle {
    display: block;
}
.page_result.high_score .result_high {
    display: block;
}

.page_start .start_btn {
    position: absolute;
    width: 40%;
    height: 15%;
    bottom: 3%;
    left: 55%;
}

.slide_btn, .start_btn {
    position: absolute;
    z-index: 10;
}
.slide_btn {
    width: 25%;
    height: 14%;
    bottom: 6%;
    left: 37%;
   /* -webkit-animation: move-up 1.5s infinite linear;
  -o-animation: move-up 1.5s infinite linear;
  animation: move-up 1.5s infinite linear;*/
}

@-webkit-keyframes move-up {
  0%, 50% {
    opacity: 0;
    -webkit-transform: translate(0, -15px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 5px);
  }
}

@keyframes move-up {
  0%, 50% {
    opacity: 0;
    -webkit-transform: translate(0, -15px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 5px);
  }
}

.start_btn {
    width: 50%;
    bottom: 10%;
    left: 50%;
    margin-left: -25%;
}


